<div class="uk-container">
    <div class="uk-child-width-expand@s" uk-grid>
        <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
                <h3>Profil</h3>
                <ul class="uk-list uk-list-divider">
                    <li>
                        <h5><b>Username :</b> {{ user.username }}</h5>
                    </li>
                    <li>
                        <h5><b>E-mail :</b> {{ user.email }}</h5>
                    </li>
                </ul>

            </div>

        </div>
    </div>

</div>