<div class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/girl.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middl uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/wommen.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/girl2.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/fashion.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/pin.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle uk-visible-toggle" tabindex="-1">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="../../../assets/img/image1.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    <div class="uk-position-bottom-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Voir plus</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>