<div class="uk-container">
        <div class="uk-child-width-expand@s" uk-grid>
            <div class="uk-grid-item-match">
                    <div class="uk-card uk-card-default uk-card-body">
                            <h1>Création d'un compte</h1>
                            <form class="uk-form-horizontal uk-margin-large">
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Username</label>
                                    <div class="uk-form-controls">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input class="uk-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">E-mail</label>
                                    <div class="uk-form-controls">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                            <input class="uk-input" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-horizontal-text">Mot de passe</label>
                                    <div class="uk-form-controls">
                                        <div class="uk-inline">
                                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                            <input class="uk-input" type="text">
                                        </div>
                                    </div>
                                </div>
                        
                        
                            </form>
                    </div>
                    
            </div>
        </div>
    
</div>