<div class="uk-position-cover uk-overlay uk-overlay-default" style="margin-top: 100px;">
    <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <fieldset class="uk-fieldset">

            <legend class="uk-legend">
                <div class="uk-position-top-left uk-overlay uk-overlay-default">Page Introuvable</div>
            </legend>
            <div class="uk-position-medium uk-position-center uk-overlay uk-overlay-default">
                <h3 class="uk-card-title">
                    <a routerLink="/">Revenir à l'acceuil</a>
                </h3>
            </div>
        </fieldset>
    </div>
</div>